body {
    background-color: rgb(239, 228, 176);
}

.barna {
    background-color: rgb(185, 122, 87);
}

.foszoveg {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 4vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link {
    color: rgb(239, 228, 176);
    text-decoration: none;
    font-size: 2vw;
    margin-left: 10px;
    padding: 4px 1vw;
}

.link:hover {
    background-color: rgb(150, 100, 60);
    color: rgb(220, 210, 155);
}

.selected {
    background-color: rgb(239, 228, 176);
    color: rgb(185, 122, 87);
}

.selected:hover {
    background-color: rgb(239, 228, 176);
    color: rgb(190, 150, 90);
}

.nav {
    border: 0 !important;
}

.navbarlink {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.out-nav-link {
    text-decoration: none;
}

.out-nav-link:hover {
    color: rgb(185, 122, 87);
}


.eredmenyek-jumbotron {
    background-color: rgb(190, 150, 90);
    border: 5px solid rgb(185, 122, 87);
}

.kviz-fieldset {
    border: 5px solid rgb(190, 150, 90);
    border-radius: 25px;
    padding: 7px;
}

.kviz-gomb {
    width: 15em;
    margin-right: 0.5em;
}

@media (max-width: 899.98px) {
    .foszoveg {
        margin-top: 10px;
        font-size: 6vw;
    }
    .link-limit-responsiveness {
        font-size: 2.6vw;
    }
    .text-limit-responsiveness {
        font-size: 1vw;
    }
}

@media (min-width: 900px) {
    .foszoveg {
        margin-top: 7px;
        font-size: 4.75vw;
    }
    .link-limit-responsiveness {
        font-size: 2vw;
    }
    .text-limit-responsiveness {
        font-size: 0.8vw;
    }
}

@media (min-width: 1400px) {
    .foszoveg {
        margin-top: 4px;
        font-size: 3.5vw;
    }
    .link-limit-responsiveness {
        font-size: 1.4vw;
    }
    .text-limit-responsiveness {
        font-size: 0.6vw;
    }
} 

.szemelylink {
    font-size: 0.8em;
    text-decoration: none;
    color: blanchedalmond;
}

.szemelykep {
    max-width: 300px;
    margin: auto;
}

.szemely {
    max-width: 320px;
    margin: 0 auto 0 auto;
    align-content: center;
}

.készitett {
    border: 5px black solid;
    margin-bottom: 10px;
}
